@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hanalei&display=swap');

*{
text-align: center;
background-color :#E0E0E0;
}


h2{
margin-top: 40px;

font-family: 'Delicious Handrawn', cursive;
}
.div1{
padding-top: 50px;
}
/* .id_box{
margin-top: 40px;
}
 */
 .id_box ,.passwd_box {
padding-bottom: 7px;
padding-top: 50px;
font-size: 20px;
}
.info, .login{
font-size: 20px;
border-radius: 4px;
}
#userid, #passwd {
width: 300px;
height: 40px;
border-radius: 4px;
}
